<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="bg-light">
<div>
    <div th:replace="fragments :: navigation"></div>
</div>

<div class="container body-content mkp-ct">
    <div class="mkpTitle">
        <h3><dt>LOCAL PRODUCE MARKETPLACE</dt></h3>
        <p>Welcome to our marketplace! Buy fruits, vegetables, and more from local producers near your home!</p>
        <br>
        <!--Search Bar-->
        <div class="mb-3 search-form">
            <h4>FILTER BY:</h4>
            <form th:action="@{marketplace/results}" method="post">
                <div class="form-check-inline" th:each="column : ${columns}">
                    <input class="form-check-input" type="checkbox" th:id="${column.key}" th:value="${column.key}" th:checked="${column.key == 'all'}"/>
                    <label class="form-check-label" th:for="${column.key}" th:text="${column.value}"> </label>
                </div>
                <br>
                <div class="row mb-0">
                    <div class="col-auto">
                        <label for="value">Keyword:</label>
                        <input type="text" name="searchTerm" id="value" />
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Search" />
                    </div>
                </div>
            </form>
        </div>
        <br>
        <h4>SEE ALL PRODUCTS</h4>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-3 col-lg-2" th:each="product : ${products}">
                    <div class="card mb-4">
                        <img th:src="@{|${product.photo}|}" th:value="@{product.photo}" class="card-img-top img-products">
                        <div class="cards-body">
                            <h5><dr th:text="${product.name}"></h5>
                            <a th:href="@{'users/profile/' + ${product.vendor.id}}" th:text="${product.vendor.name}"></a><br>
                            <h7 th:text="'Product type: ' + ${product.type}"></h7>
                            <h7 th:text="'Description: ' + ${product.description}"></h7>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>

        <h4>SEE ALL VENDORS</h4>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-3 col-lg-2" th:each="vendor : ${vendors}">
                    <div class="card mb-4">
                        <img th:src="@{|${vendor.photo}|}" th:value="@{vendor.photo}" class="card-img-top img-vendors">
                        <div class="cards-bodyV">
                            <h6 th:text="${vendor.name}">VENDOR</h6>
                            <a th:href="@{'users/profile/' + ${vendor.id}}">See profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>