<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<!-- NAVIGATION -->
<div>
    <div th:replace="fragments :: navigation"></div>
</div>

<!-- FAVORITE VENDORS DISPLAY -->
<div class="container">
    <div class="row">
        <div class="col-4 col-md-3 col-lg-2" th:each="vendor : ${favoriteVendors}">
            <div class="card mb-4">
                <img th:src="@{|${vendor.photo}|}" th:value="@{vendor.photo}" class="card-img-top mkp-img">
                <div class="card-body">
                    <h5 th:text="${vendor.name}"></h5>
                    <a th:href="@{'/profile/vendorId' + ${vendorId}}">See profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>